CascadedGrammarFile = ./system_resources/EN/TimexGrammar/data/Timex_EN.grm

ModuleConfigDirectory = ./system_resources/EN/TimexGrammar/modules

#InputFileDirectory = D:/EXPRESS/EXPRESS/input

CharacterSet=UTF-8

DebugModusOn=false
DebugAllGrammarsOn=false
SplitingFilesIntoLine=false 