#general properties

MODULE.NAME = CorleoneMorphology

MODULE.TYPE = CorleoneMorphology

#specific properties

# morphology file
ResourceFile = $ROOT$/../data/Multext_Morphology.mor

#tokenizer name
TokenizerName = CorleoneTokenizer

# case sensitive mode is on
CaseSensitive=false

# return output structure for unknown words
ReturnOutputForUnknownWords=true