

#general properties

MODULE.NAME = CorleoneMorphGazetteer

MODULE.TYPE = CorleoneGazetteer

#specific features

# gazetteer file
ResourceFile=$ROOT$/../data/Morph_GazetteerFR.gz

#tokenizer name
TokenizerName = CorleoneBasicTokenizer

# case sensitive mode is on
CaseSensitive=false

# search strategy is: longest match
SearchStrategy=longest-match
# SearchStrategy=all-matches

OutputTokenPositions=false
